body {
  background-color: rgba(51, 51, 51, 0.888);
}

.main-header {
  padding: 8px 16px;
  background-color: #ffa94d51;
  border-radius: 9px;
  display: inline-block;
  /* need to add some blur to border, look up how to do it */
}

.button-class {
  padding: 16px 32px;
  background-color: #ffd8a8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #754f1edd;
  border: 2px solid #000;
  border-radius: 9px;
}

.button-class:hover {
  transform: scale(1.05);
  transition: all 200ms;
  background-color: #ffa94d;
  color: #fff;
  font-weight: bold;
}
